/* Animations */
/* Animação de baixo para cima [eixo y]*/
@keyframes up{
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Classe para a animação */
.animate-up{
    animation-name: up; /* nome da animação criada acima */
    animation-duration: 300ms; /* tempo de duração 2 segundos */
    animation-fill-mode: backwards; /* */
}
